# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js build output
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Local secrets
.env.local
.env.development.local
.env.test.local
.env.production.local

# Firebase
.firebase
firebase.json
database.rules.json
storage.rules
functions/node_modules
functions/lib
apphosting.yaml
components.json

# Vercel
.vercel

# genkit
.genkit/
.genkit-cache/
