@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-yellow: #FFD700;
  --primary-blue: #4169E1;
  --dark-blue: #1E3A8A;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-yellow: var(--primary-yellow);
  --color-primary-blue: var(--primary-blue);
  --color-dark-blue: var(--dark-blue);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
