@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

@layer base {
  :root {
    --background: 60 33% 99%; /* White: #FEFEFD */
    --foreground: 222 24% 8%; /* Rich Black: #10131A */
    --card: 60 33% 99%;
    --card-foreground: 222 24% 8%;
    --popover: 60 33% 99%;
    --popover-foreground: 222 24% 8%;
    --primary: 230 61% 56%; /* #334DCF */
    --primary-foreground: 60 33% 99%; /* White */
    --secondary: 220 13% 91%;
    --secondary-foreground: 222 47% 11%;
    --muted: 220 13% 91%;
    --muted-foreground: 219 37% 41%;
    --accent: 52 100% 49%; /* #F9D500 */
    --accent-foreground: 222 24% 8%; /* Rich Black */
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 88%;
    --input: 220 13% 88%;
    --ring: 230 61% 56%;
    --chart-1: 230 61% 56%;
    --chart-2: 52 100% 49%;
    --chart-3: 201 46% 49%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222 24% 8%; /* Rich Black: #10131A */
    --foreground: 60 33% 99%; /* White: #FEFEFD */
    --card: 222 24% 8%;
    --card-foreground: 60 33% 99%;
    --popover: 222 24% 8%;
    --popover-foreground: 60 33% 99%;
    --primary: 230 61% 56%; /* #334DCF */
    --primary-foreground: 60 33% 99%; /* White */
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 52 100% 49%; /* #F9D500 */
    --accent-foreground: 222 24% 8%; /* Rich Black */
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 27%;
    --input: 217 33% 27%;
    --ring: 230 61% 56%;
    --chart-1: 230 61% 56%;
    --chart-2: 52 100% 49%;
    --chart-3: 201 46% 49%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
    .animate-ticker {
        animation: ticker 30s linear infinite;
    }

    @keyframes ticker {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-50%);
        }
    }
}
