@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 219 37% 21%;
    --card: 0 0% 100%;
    --card-foreground: 219 37% 21%;
    --popover: 0 0% 100%;
    --popover-foreground: 219 37% 21%;
    --primary: 197 90% 48%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 13% 91%;
    --secondary-foreground: 219 37% 21%;
    --muted: 220 13% 91%;
    --muted-foreground: 219 37% 41%;
    --accent: 271 91% 65%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 88%;
    --input: 220 13% 88%;
    --ring: 197 90% 48%;
    --chart-1: 197 90% 48%;
    --chart-2: 271 91% 65%;
    --chart-3: 201 46% 49%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 219 37% 21%;
    --foreground: 0 0% 100%;
    --card: 219 37% 15%;
    --card-foreground: 0 0% 100%;
    --popover: 219 37% 21%;
    --popover-foreground: 0 0% 100%;
    --primary: 197 90% 48%;
    --primary-foreground: 0 0% 100%;
    --secondary: 219 37% 26%;
    --secondary-foreground: 0 0% 100%;
    --muted: 219 37% 26%;
    --muted-foreground: 216 12% 74%;
    --accent: 271 91% 65%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 219 37% 26%;
    --input: 219 37% 26%;
    --ring: 197 90% 48%;
    --chart-1: 197 90% 48%;
    --chart-2: 271 91% 65%;
    --chart-3: 201 46% 49%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
    .animate-ticker {
        animation: ticker 30s linear infinite;
    }

    @keyframes ticker {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-50%);
        }
    }
}
