@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

@layer base {
  :root {
    --background: 220 13% 96%;
    --foreground: 220 9% 10%;
    --card: 220 13% 100%;
    --card-foreground: 220 9% 10%;
    --popover: 220 13% 100%;
    --popover-foreground: 220 9% 10%;
    --primary: 197 76% 53%;
    --primary-foreground: 210 40% 98%;
    --secondary: 220 13% 91%;
    --secondary-foreground: 220 9% 10%;
    --muted: 220 13% 91%;
    --muted-foreground: 220 9% 40%;
    --accent: 291 64% 42%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 88%;
    --input: 220 13% 88%;
    --ring: 197 76% 53%;
    --chart-1: 197 76% 53%;
    --chart-2: 291 64% 42%;
    --chart-3: 173 58% 39%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 220 9% 10%;
    --foreground: 210 40% 98%;
    --card: 220 9% 10%;
    --card-foreground: 210 40% 98%;
    --popover: 220 9% 10%;
    --popover-foreground: 210 40% 98%;
    --primary: 197 76% 53%;
    --primary-foreground: 210 40% 98%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 216 12% 64%;
    --accent: 291 64% 52%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 197 76% 53%;
    --chart-1: 197 76% 53%;
    --chart-2: 291 64% 42%;
    --chart-3: 173 58% 39%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
    .animate-ticker {
        animation: ticker 30s linear infinite;
    }

    @keyframes ticker {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-50%);
        }
    }
}
